* {
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html,
body {
  @media (min-width: 1024px) {
    height: 100%;
  }
}

body {
  box-sizing: border-box;
  min-width: 320px;
  font-family: $font-main;
  background-color: #191919;
  background-image: url("../img/bg-pattern.jpg");
  background-repeat: repeat;
  background-size: auto;
  color: #fff;
  font-size: 16px;
  line-height: 1.2;
  min-height: 760px;

  @media (min-width: 1024px) {
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.5) 100%
    ),
      url("../img/bg-pattern.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

a {
  font-size: 13px;
  line-height: 16px;
  color: $blue;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 1px dashed $blue;
}
