$font-expo:              "Exo2.0-Thin", Arial, sans-serif;
$font-main:              "Trebuchet MS", Arial, sans-serif;

$blue:                    #1698D9;
$blue--hover:             #2EA8E6;

$gray:                    #666666;
$gray--light:             #F2F2F2;
$gray--disabled-ligt:     #B7B7B7;
$gray--disabled-dark:     #E4E4E4;

$yellow:                  #FFFF66;

$pink:                    #D91667;
$pink--hover:             #E62E7A;
