---
title: Нямушка
---
{% extends "layouts/_layout.html" %}

{% block content %}

  <h1 class="content__title">Ты сегодня покормил кота?</h1>

  <div class="catalog">
    <article class="product">
      <div class="product__content">
        <svg class="product__bg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 324 484" width="320" height="480" preserveAspectRatio="none"><path fill-rule="evenodd" stroke-width="4" d="M310 482H14c-6.63 0-12-5.37-12-12V45L45 2h265c6.63 0 12 5.37 12 12v456c0 6.63-5.37 12-12 12z"/></svg>
        <header class="product__header">
          <b class="product__text">Сказочное заморское яство</b>
          <h2 class="product__title">Нямушка</h2>
          <p class="product__fill">с фуа-гра</p>
        </header>
        <ul class="product__bonus-list">
          <li class="product__bonus-item">10 порций</li>
          <li class="product__bonus-item">мышь в подарок</li>
        </ul>
        <div class="product__weight">0,5 <span class="product__units">кг</span></div>
      </div>
      <p class="product__buy">
        Чего сидишь? Порадуй котэ, <a href="#">купи.</a>
      </p>
    </article>
    <article class="product">
      <div class="product__content">
        <svg class="product__bg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 324 484" width="320" height="480" preserveAspectRatio="none"><path fill-rule="evenodd" stroke-width="4" d="M310 482H14c-6.63 0-12-5.37-12-12V45L45 2h265c6.63 0 12 5.37 12 12v456c0 6.63-5.37 12-12 12z"/></svg>
        <header class="product__header">
          <b class="product__text">Сказочное заморское яство</b>
          <h2 class="product__title">Нямушка</h2>
          <p class="product__fill">с рыбой</p>
        </header>
        <ul class="product__bonus-list">
          <li class="product__bonus-item">40 порций</li>
          <li class="product__bonus-item">2 мыши в подарок</li>
        </ul>
        <div class="product__weight">2 <span class="product__units">кг</span></div>
      </div>
      <p class="product__buy">
        Чего сидишь? Порадуй котэ, <a href="#">купи.</a>
      </p>
    </article>
    <article class="product">
      <div class="product__content">
        <svg class="product__bg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 324 484" width="320" height="480" preserveAspectRatio="none"><path fill-rule="evenodd" stroke-width="4" d="M310 482H14c-6.63 0-12-5.37-12-12V45L45 2h265c6.63 0 12 5.37 12 12v456c0 6.63-5.37 12-12 12z"/></svg>
        <header class="product__header">
          <b class="product__text">Сказочное заморское яство</b>
          <h2 class="product__title">Нямушка</h2>
          <p class="product__fill">с курой</p>
        </header>
        <ul class="product__bonus-list">
          <li class="product__bonus-item">100 порций</li>
          <li class="product__bonus-item">5 мышей в подарок</li>
          <li class="product__bonus-item">заказчик доволен</li>
        </ul>
        <div class="product__weight">5 <span class="product__units">кг</span></div>
      </div>
      <p class="product__buy">
        Чего сидишь? Порадуй котэ, <a href="#">купи.</a>
      </p>
    </article>
  </div>

{% endblock %}
