.content {
  width: 100%;
  padding: 20px;

  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-family: $font-expo;
    font-weight: 100;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0 1px 1px #000000;
  }
}
