.product {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.2;
  color: $gray;
  text-align: center;

  @media (min-width: 768px) {
    margin: 0 20px;
    margin-bottom: 30px;
  }

  @media (min-width: 1024px) {
    margin: 0 3%;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    fill: $gray--light;
    stroke: $blue;
  }

  &__weight {
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 1;
    width: 80px;
    height: 80px;
    padding: 10px;
    font-weight: 400;
    font-size: 42px;
    line-height: 1;
    border-radius: 50%;
    background-color: $blue;
    color: #fff;
    text-align: center;
  }

  &__card {
    position: relative;
    flex-grow: 1;
    min-height: 480px;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 45px;
    background-image: url("../img/cat@1x.png");
    background-repeat: no-repeat;
    background-position: left 4px bottom 4px;
    background-size: 263px 270px;
    border-bottom-left-radius: 24px;
    text-align: left;
    cursor: pointer;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/cat@2x.png");
    }

    &:hover {
      .product__bg {
        stroke: $blue--hover;
      }

      .product__weight {
        background-color: $blue--hover;
      }
    }
  }

  &__text {
    display: inline-block;
    margin: 0;
    margin-bottom: 7px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: $gray;
    vertical-align: middle;
  }

  &__text-selected {
    display: none;
    color: $pink--hover;
  }

  &__title {
    margin: 0;
    margin-bottom: 0;
    font-size: 48px;
    line-height: 1.1;
    font-weight: 700;
    color: #000;
  }

  &__fill {
    margin: 0;
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    color: #000;
  }

  &__bonus-list {
    padding: 0;
    padding-bottom: 280px;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: $gray;
    list-style: none;
  }

  &__units {
    display: block;
    font-size: 21px;
  }

  &__buy {
    font-size: 13px;
    line-height: 16px;
    color: #fff;
  }
}
